* {

    background-color: white;
    font-family: 'NanumSquareRound',sans-serif;

}

#title{

    text-align: center;
    color:rgb(0, 0, 0);
    font-weight: 800;
    font-size: 40px;

    background-color: white;
    border: 5px solid;
    border-radius: 10px;
    display: block;
    max-width: 200px;
    z-index: 1;

    position:absolute;
    padding: 10px 20px;

    top:50%; left:50%;
    transform: translate(-50%, -280px);

}

#box{
    
    font-weight: 800;
    font-size: 40px;

    background-color: white;
    border: 5px solid;
    border-radius: 15px;
    display: block;
    z-index: 0;

    position:absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
    padding: 50px 50px 0 50px;
    /*padding: 50px;*/

}

#ima{

    max-width: 300px;
    overflow: hidden;
    max-width: initial;
    width: 300px;
    height: 300px;

}

#que{

    background-color: white;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin-top: 30px;
    
}
