@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{ font-family: 'NanumSquareRound'!important; font-weight:600; }

#main{
  display: flex;
  align-items: center;
  background-color: white;
  width: 80%; 
  text-align: center;
  border-radius: 20px;
}

h1{
  font-weight:700;
}

p{
  font-size: 20px;
}


@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-webkit-keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

.jacpot1{
  width: 90%;
  height: 110px;
  margin: 8% auto;
  border-radius:40px;
  border:5px solid;
  padding:10px;
  color:#000000;
}

.btn-violet{
  font-weight: 400;
  border-radius: 8px;
  padding: 10px 20px;
  color:#fff;
  background-color:#7325D7;
  border-color:#7325D7
}

.btn-violet:hover{
    color:#fff;
    background-color:#4517c8;
    border-color:#4116be
}

.btn-check:focus+.btn-violet,.btn-violet:focus{
  color:#fff;background-color:#4517c8;
  border-color:#4116be;box-shadow:0 0 0 .25rem rgba(101,57,232,.5)
}

.btn-check:active+.btn-violet,.btn-check:checked+.btn-violet,.btn-violet.active,.btn-violet:active,.show>.btn-violet.dropdown-toggle{
  color:#fff;
  background-color:#4116be;
  border-color:#4116be
}

.btn-check:active+.btn-violet:focus,.btn-check:checked+.btn-violet:focus,.btn-violet.active:focus,.btn-violet:active:focus,.show>.btn-violet.dropdown-toggle:focus{
  box-shadow:0 0 0 .25rem rgba(101,57,232,.5)
}

.btn-violet.disabled,.btn-violet:disabled{
  color:#fff;
  background-color:#7325D7;
  border-color:#7325D7
}

.fadeIn{
  animation: fadeIn;
  animation-duration: 0.5s;
}

.fadeOut{
  animation: fadeOut;
  animation-duration: 0.5s;
}

#result{
  display: none;
  background-color: white;
  width: 90%;
  text-align: center;
  border-radius: 20px;
}

.resultname{
  font-size: 26px;
}

.resultDesc{
  font-size: 16px;
  text-align:left;
}

#qna {
  display: none;
}

.qBox {
  background-color: white;
  text-align: center;
  border-radius: 20px;
  font-size: 20px;
  width: 80%
  
}

.answerList {
  background-color: white;
  border-radius: 20px;
  display: block;
  width: 80%;
  border: 0px;
  font-size: 20px;
}

.answerList:hover, .answerList:focus {
  background-color: #7325D7;
  color:white;
}

.status {
  height: 20px;
  width: 80%;
  background-color: white;
  border-radius: 20px;
}

.statusBar {
  height: 100%;
  border-radius: 20px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#febbbb+0,fe9090+52,ff5c5c+100;Red+3D+%231 */
  background: #7325D7;
}
