*{
    box-sizing: border-box;
}

@font-face {
    font-family: 'InfinitySans-RegularA1';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth; 
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #000;
    
    overflow-x: hidden;
}

img{
    -ms-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select:none;
} 

a{
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    height: 50px;
    padding: 20px 15px 20px 0;

    box-shadow: 0px -15px 20px 0px #000;
    background-color: rgba(0, 0, 0, 0.8);;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 2;
}

header a{
    
    font-family: 'InfinitySans-RegularA1';
    font-weight: 300;
    font-size: 16.5px;
    margin: 0 10px;
}

.nav-up {
    top: -60px;
    transition:0.3s;
}

.nav-down {
    transition:0.3s;
}

.Part{
    color: white;
}

#canvas{
    position: relative;
    top: 0px;
    left: 0px;
    margin: 0;
    padding: 0;
    z-index: -1;
}

#homelogo{
    position: absolute;
    top: 75px;
    left: 50%;
    width: 50%;
    z-index: 1;
    transform: translate(-50%,0);
}

h1{
    margin-left: 10%;
    font-size: 43px;
    font-weight: 700;
    font-family: 'InfinitySans-RegularA1';
    position: relative;
    text-decoration: underline #3E00CD;
    text-underline-offset: 15px;
}

#project{
    top: 0;
    padding-top: 35px;
    height: 740px;
    width: 100%;
    background: white;
}

.title {
    padding: 100px;
}
  
.slider {
    position: absolute;
    left: 10%;
    width: 80%;
    height: 600px;
}
  
.slider-inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    pointer-events: none;
}

.slider-item {
    top: 0;
    margin: auto 20px;
    height: 520px;
    width: 400px;
    background-color: white;
    box-shadow: 0 2px 10px -5px black;
    font-family: 'NanumSquare';
    font-weight: 600;
}

.slider-item img{
    pointer-events: auto;
    height: 300px;
    margin: 35px 50px 0 50px;
}

.slider-item h2{
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 0;
    font-size: 29px;
}

.slider-item h3{
    margin-top: 0px;
    margin-left: 50px;
    font-size: 15px;
}

.slider-item h4{
    margin-top: 0px;
    margin-left: 50px;
    font-size: 17.4px;
}

#archiving{
    top: 0;
    padding-top: 35px;
    width: 100%;
    color: #ffffff;
    background: black;
}

#archiving_blog{
    position: relative;
    background-color: #ffffff;
    border-radius: 20px;
}

#archiving_github{
    position: relative;
    background-color: #ffffff;
    border-radius: 20px;
}

.archiving_logo{
    margin: 35px 0 10px 35px;
    height: 50px;
}

#archiving h2{
    font-size: 24px;
    margin: 5px 5px 5px 30px;
    font-family: 'NanumSquareRound';
    color: #3E00CD;
}

#archiving h3{
    font-size: 19px;
    font-family: 'NanumSquare';
    font-weight: 700;
    margin: 10px 30px;
    color: #000;
}

#archiving ul{
    font-size: 20px;
    font-family: 'NanumSquare';
    font-weight: 700;
    line-height: 150%;
    margin: 20px 20px;
    color: #000;
}

#about{
    padding-top: 35px;
    width: 100%;
    background: white;
    padding-bottom: 80px;
}

.piece{
    position: relative;
    display: inline-block;
    margin: 3% 10px 0 10px;
    height: 60px;
    width: 360px;
}

#about h2{
    margin: 3px 0;
    font-size: 23px;
    font-family: 'NanumSquareRound';
    font-weight: 800;
    color: #000;
}

#about h3{
    margin: 0 0 11px 0;
    font-size: 20px;
    font-family: 'NanumSquare';
    font-weight: 600;
    color: #000;
}

#about a{
    margin: 0 0 11px 0;
    font-size: 20px;
    font-family: 'NanumSquare';
    font-weight: 600;
    color: #000;
}

#about img{
    float: left;
    margin-right: 5%;
    width: 60px;
    height: 60px;
}

#impression{
    padding-top: 35px;
    width: 100%;
    background: gray;
    padding-bottom: 80px;
}

#impression h2{
    margin: 0 10% 0 10%;
    font-size: 50px;
    letter-spacing: -4px;
    font-weight: 900;
    font-family: 'NanumSquare';
}

#impression h3{
    margin: 0 10%;
    line-height: 150%;
    font-size: 25px;
    font-family: 'NanumSquare';
    font-weight: 500;
}

#impression h4{
    margin: 0 10%;
    line-height: 150%;
    font-size: 18px;
    font-family: 'NanumSquare';
    font-weight: 500;
}

footer{
    top: 0;
    padding-top: 30px;
    height: 125px;
    width: 100%;
    
    font-family: 'NanumSquare';
    text-align: center;

    color: #ffffff;
    background: black;
}