*{
    outline: 0;
    margin: 0;
    padding: 0;
}
html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    background-color: #FAFF59;
}
h1{
    color: #FAFF59;
    text-align: center;
    padding: 14.5px 16px;
    text-decoration: none;
}
canvas{
    width: 100%;
    height: 100%;
}
